<a href="https://colab.research.google.com/github/ChengHan16/CS4high/blob/master/%E8%BF%B4%E5%9C%88loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
numbers=[21,4,35,1,8,7,3,6,9]
my_numbers=[]

for number in numbers:
  if(number%2!=0):
    my_numbers.append(number)
    
print(my_numbers)

[21, 35, 1, 7, 3, 9]

In [2]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
i = int(raw_input('淨利潤:'))

arr = [1000000,600000,400000,200000,100000,0]
rat = [0.01,0.015,0.03,0.05,0.075,0.1]
r = 0

for idx in range(0,6):
    if i>arr[idx]:
        print i
        print idx
        print arr[idx]
        r+=(i-arr[idx])*rat[idx]
        print (i-arr[idx])*rat[idx]
        i=arr[idx]
print r

淨利潤:1111
1111
5
0
111.1
111.1

**while迴圈**

In [4]:
total=n=0
while(n<10):
  n+=1
  total+=n
  print(total)

1
3
6
10
15
21
28
36
45
55

**作業2019/09/26**

In [27]:
list1=range(6)
list1

[0, 1, 2, 3, 4, 5]

In [30]:
list2=range(1,6)
list2

[1, 2, 3, 4, 5]

In [31]:
list3=range(1,6,2)
list3

[1, 3, 5]

In [32]:
for dd in range(6):
   print(dd)

0
1
2
3
4
5

In [35]:
numbers = [21, 4, 35, 1, 8, 7, 3, 6, 9]
my_numbers = []

for number in numbers:
    if (number % 2 != 0): 
　　my_numbers.append(number)

print(my_numbers)

IndentationError: ignored

In [38]:
for dd in range(6):
  print(dd)

0
1
2
3
4
5